{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Everyday is Caturday</h1><br>
        <h3>Sandpaper kisses</h3>
           <h3> on a cheek or a chin--</h3>
            <h3>that is the way</h3>
            <h3>for a day to begin!<h3>
            <br>
            <h3>Sandpaper kisses--
            <h3>a cuddle, a purr.
            <h3>I have an alarm clock
            <h3>that's covered with fur.</h3>
            <br>
        <a href="{{ url_for('register') }}">
            <button class="btn btn-success">Register Here</button>
        </a>
    </div>

{% endblock content %}