<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Caturday App </a>
    <button class = "navbar-toggler" type="button" data-toggle="collapse" data-target="#blogNav" aria-controls="blogNav" aria-expanded="false" aria-label = "Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--navigation button will go here-->
    <!-- <div class="collapse navbar-collapse" id="blogNav">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('posts') }}">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('get_key') }}">Cat Pix</a>
            </li>
        </ul>
    </div>
</nav>  -->